:root {
  --font-main: 'Outfit', sans-serif;
}

html {
  font-family: var(--font-main);
}

body {
  margin: 0;
  background: #F9FAFB;
  color: #1F2937;
  font-family: var(--font-main) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit !important;
}
